*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: 62.5%;
}

header
{
    position: relative;
    width: 100vw;
    height: 700px;
    background-image: url("/image/header_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}

.background-gray-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 21, 21, 0.452);
    z-index: 0;
}
.nav_container
{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #5356617a;
    top: 25px; 
}
.precentacion-dev-container
{ 
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    height: 700px;
    width: 80%;
    animation:slide-in-elliptic-bottom-fwd 1s cubic-bezier(.25,.46,.45,.94) both
}
    @keyframes slide-in-elliptic-bottom-fwd{0%{transform:translateY(600px) rotateX(30deg) scale(0);transform-origin:50% 100%;opacity:0}100%{transform:translateY(0) rotateX(0) scale(1);transform-origin:50% -1400px;opacity:1}}
.h1-container-header
{
    text-align: center;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    font-size: 3rem;
    z-index: 1;
}
.h1-container-header b
{
    color:#d33727;
}

.welcome-container
{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 100px;
    margin: 0 auto;
    z-index: 1;   
}
.buttom-header-div-container
{
    padding: 5px 15px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgba(255, 0, 0, 0.342);
    border-radius: 50px;
    font-size: 2rem;
    z-index: 1;
    color: #ef3724;
}
/*main___________________________________*/
main
{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    
}
.articule-container-one
{
    width: 100%;
    height: 1000px;
    padding-top: 150px;
    
    

}
.img-div-container-me
{
    position: relative;
    animation:bounce-in-bottom 1.1s both;
    margin: 0 auto;
    width: 270px;
    z-index: 2;
}
@keyframes bounce-in-bottom{0%{transform:translateY(500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}
.back-red
{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 5px solid #e73231;
    right: -25px;
    top: -25px;
    z-index: -1;
}
.img-div-container-me img
{
    width: 100%;
    
}
.div-text-container
{
    animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both;
    padding-top: 15px;
    height: auto;
    margin: 0 auto; 
    width: 80%;
}
@keyframes fade-in-right{0%{transform:translateX(50px);opacity:0}100%{transform:translateX(0);opacity:1}}

.name-container-h2
{
    font-size: 2.5rem;
    color: #212567;
    font-weight: lighter;
}
.work-container
{
    padding-top: 10px;
    font-size: 1.7rem;
    color:#ef3724;
}
.parrafo-container
{
    padding-top: 10px;
    font-size: 1.3rem;
    color:#212567 ;
    font-weight: lighter;
}
.ul-me-description-container
{
    font-size: 1.7rem;
    list-style:circle;
    color: #e73231;
    list-style-type: style color;
    list-style-position: inside;
    padding-top: 15px;
    width: 270px;
}

.ul-me-description-container li b
{
    font-size: 1.4rem;
    color:#212567 ;
}
.ul-me-description-container li ::marker
{
    
    
    color: #6c757d;
}
.button-container-CV
{   

    padding: 10px 30px;
    font-size: 1rem;
    margin: 20px auto ;
    color: #e73231;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #e73231;
    text-align: center;
    
}

.skills-div-container
{
    padding-top: 40px;
    margin: 0 auto;
    width: 80%;
}
.skills-div-container h3
{
    text-align: center;
    font-size: 2.5rem;
}
.skills-div-container .subtitle-container
{
    padding: 15px 0 10px 0;
    font-size: 1.6rem;
}

.color-div
{
    width: auto;
    padding-bottom: 10px;

}

.tittle-java-container
{
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.border-line-graph
{
    position: relative;
    align-items: center;
    border-radius: 12.5px;
    height: 25px;
    border: 2px solid #ef3724;
    
}
.graph-percent
{
    position: absolute;
    border-radius: 8px;
    top: 2px;
    left: 2px;
    height: 17px;
    background-color: #ef3724;
    text-align: center;
    animation:scale-in-hor-left 2s cubic-bezier(.25,.46,.45,.94) 3s both
}
@keyframes scale-in-hor-left{0%{transform:scaleX(0);transform-origin:0 0;opacity:1}100%{transform:scaleX(1);transform-origin:0 0;opacity:1}}
.number-graph
{
    
    padding-top: 1.5px;
    font-size: 0.8rem;
    color: #ffffff;
}
/* name__%%%%%_____________________________ */
.graph-percent-php
{
    width: 80%;
}
.graph-percent-js
{
    width:86%;
}
.graph-percent-html-css
{
    width: 98.5%;
}
.graph-percent-phyton
{
    width: 90%;
}