*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: 62.5%;
}

header
{
    position: relative;
    width: 100vw;
    height: 700px;
    background-image: url("/image/header_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}

.background-gray-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 143, 142, 0.452);
    z-index: 0;
}
.nav_container
{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #61535e7a;
    top: 25px; 
}
.precentacion-dev-container
{ 
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    height: 700px;
    width: 80%;
}

.h1-container-header
{
    text-align: center;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    font-size: 3rem;
    z-index: 1;
}
.h1-container-header b
{
    color:#d33727;
}

.welcome-container
{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 100px;
    margin: 0 auto;
    z-index: 1;
}
.buttom-header-div-container
{
    padding: 5px 15px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgba(255, 0, 0, 0.342);
    border-radius: 50px;
    font-size: 2rem;
    z-index: 1;
    color: #ef3724;
}
/*main___________________________________*/
main
{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    
}
.articule-container-one
{
    width: 100%;
    height: 1000px;
    padding-top: 150px;
    
    

}
.img-div-container-me
{
    position: relative;
    
    margin: 0 auto;
    width: 270px;
    z-index: 2;
    
}

.back-red
{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 5px solid #e73231;
    right: -25px;
    top: -25px;
    z-index: -1;
}
.img-div-container-me img
{
    width: 100%;
    
}
.div-text-container
{
    padding-top: 15px;
    height: auto;
    margin: 0 auto;
    width: 270px;
}
.name-container-h2
{
    font-size: 2.5rem;
    color: #212567;
    font-weight: lighter;
}
.work-container
{
    padding-top: 10px;
    font-size: 1.7rem;
    color:#ef3724;
}
.parrafo-container
{
    padding-top: 10px;
    font-size: 1.3rem;
    color:#212567 ;
    font-weight: lighter;
}
.ul-me-description-container
{
    font-size: 1.7rem;
    list-style:circle;
    color: #e73231;
    list-style-type: style color;
    list-style-position: inside;
    padding-top: 15px;
    width: 270px;
}

.ul-me-description-container li b
{
    font-size: 1.4rem;
    color:#212567 ;
}
.ul-me-description-container li ::marker
{
    
    
    color: #6c757d;
}
.button-container-CV
{   

    padding: 10px 30px;
    font-size: 1rem;
    margin: 20px auto ;
    color: #e73231;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #e73231;
    text-align: center;
    
}

.skills-div-container
{
    padding-top: 40px;
    margin: 0 auto;
    width: 80%;
}
.skills-div-container h3
{
    text-align: center;
    font-size: 2.5rem;
}
.skills-div-container .subtitle-container
{
    padding: 15px 0 10px 0;
    font-size: 1.6rem;
}

.color-div
{
    width: auto;
    padding-bottom: 10px;

}

.tittle-java-container
{
    font-size: 1.2rem;
}

.border-line-graph
{
    position: relative;
    align-items: center;
    border-radius: 12.5px;
    height: 25px;
    border: 2px solid #ef3724;
    
}
.graph-percent
{
    position: absolute;
    border-radius: 8px;
    top: 2px;
    left: 2px;
    height: 17px;
    
    background-color: #ef3724;
   
    text-align: center;
}
.number-graph
{
    
    padding-top: 2px;
    font-size: 0.8rem;
    color: #ffffff;
}
/* name__%%%%%_____________________________ */
.graph-percent-php
{
    width: 80%;
}
.graph-percent-js
{
    width:86%;
}
.graph-percent-html-css
{
    width: 98.5%;
}
.graph-percent-phyton
{
    width: 90%;
}